<template>
  <div>
    <v-card v-for="card of item.cards" :key="card.name" class="mb-3">
      <v-card-title>{{ card.name }}</v-card-title>
      <v-card-text>
        <v-img class="mb-4" :src="card.image" width="50%" />
        <div class="text--primary">
          <p v-for="obs of card.obs" :key="obs">- {{ obs }}</p>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  computed: {
    item() {
      return this.$store.getters['acervo/getItemByName'](
        this.$route.params.name
      )
    },
  },
}
</script>

<style scoped></style>
