<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-treeview :items="menu" open-on-click>
        <template slot="label" slot-scope="props">
          <div v-if="props.item.isCategoria">{{ props.item.name }}</div>
          <template v-else>
            <router-link
              :to="`/${props.item.categoria}/${props.item.name}`"
              class="text-decoration-none"
              >{{ props.item.name }}</router-link
            >
          </template>
        </template>
      </v-treeview>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="false" fixed app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title v-text="title" />
    </v-app-bar>

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      drawer: false,
      fixed: true,
      title: 'Histologia',
    }
  },
  computed: {
    ...mapState({
      menu: (state) => state.acervo.menu,
    }),
  },
}
</script>
